{% extends "layout.html" %}

{% block body %}
    <h2>{{item.name}}</h2>

    <button class="btn btn-primary" id="editButton" onclick="showEdit()">Edit</button>

    <form action="{% url 'item' item.id %}" method="post" id="editForm" style="display: none;">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" type="text" name="name" value="{{item.name}}">
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label mx-sm-3 mb-2" for="isReal">Is real?</label>
            <input class="form-check-input" type="checkbox" name="isReal" {{item.isReal|yesno:'checked,'}}>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <h4>Real?</h4>
    {{item.isReal|yesno:"Real!,Fake!"}}
    <br>
    <br>

    <h4>Simplest way to make:</h4>
    {% with tr=item.simplestWayToMake %}
        {% if tr is not None %}
            {% include "tr_with_links.html" %}
        {% endif %}
    {% endwith %}
    <br>

    <h4>Chain:</h4>
    <br>
    <div class="col-10">
        {% if image_format == "html" %}
            {% include image_path %}
        {% else %}
            <embed width=100% scrolling="yes">{% include image_path %}</embed>
        {% endif %}
    </div>
    <br>

    <h4>All ways to make:</h4>
    {% for tr in as_output %}
        {% include "tr_with_links.html" %}
    {% endfor %}
    <br>

    <h4>Makes:</h4>
    {% for tr in makes %}
        {% include "tr_with_links.html" %}
    {% endfor %}
    <br>

    <h4>Gaps:</h4>
    {% for pair in gaps %}
        {{pair}}<br>
    {% endfor %}
    <br>
{% endblock %}